body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.board-row{
  display:flex;
  align-content: center;
  justify-content: center;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  background-color: #282c34;
  min-height: 85vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.game-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -25px;
}
.button-holder {
  margin-bottom: 30px;
}
.game-button {
  font-size: 30px;
  background-color: #3c1de7;
  border-radius: 12px;
  border: 2px solid black;
  color: white;
  margin-left: 15px;
}
.game-text {
  margin-bottom: -25px;
}

